WebApplicationTest1/WebApplicationTest1/Web References/IPGWebReference/ipgapi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:a1="http://ipg-online.com/ipgapi/schemas/a1" xmlns:ipgapi="http://ipg-online.com/ipgapi/schemas/ipgapi" xmlns:v1="http://ipg-online.com/ipgapi/schemas/v1" elementFormDefault="qualified" targetNamespace="http://ipg-online.com/ipgapi/schemas/ipgapi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../schemas/v1.xsd" namespace="http://ipg-online.com/ipgapi/schemas/v1" />
  <xs:import schemaLocation="../schemas/a1.xsd" namespace="http://ipg-online.com/ipgapi/schemas/a1" />
  <xs:element name="IPGApiOrderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="v1:Transaction" />
          <xs:element ref="v1:SubsequentTransaction" />
        </xs:choice>
        <xs:element minOccurs="0" ref="v1:MerchantDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IPGApiActionRequest">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="a1:Action" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="IPGApiOrderResponse">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" name="DebugInformation" type="xs:string" />
        <xs:element minOccurs="0" name="ApprovalCode" type="xs:string" />
        <xs:element minOccurs="0" name="AVSResponse" type="xs:string" />
        <xs:element minOccurs="0" name="Brand" type="xs:string" />
        <xs:element minOccurs="0" name="Country" type="xs:string" />
        <xs:element minOccurs="0" name="CommercialServiceProvider" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorMessage" type="xs:string" />
        <xs:element minOccurs="0" name="ExternalMerchantID" type="xs:string" />
        <xs:element minOccurs="0" name="FraudScore" type="xs:int" />
        <xs:element minOccurs="0" name="OrderId" type="xs:string" />
        <xs:element minOccurs="0" name="IpgTransactionId" type="v1:PositiveNumeric14max" />
        <xs:element minOccurs="0" name="PayerSecurityLevel" type="xs:string" />
        <xs:element minOccurs="0" name="PaymentType" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessorApprovalCode" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessorReceiptNumber" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessorBatchNumber" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessorCCVResponse" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessorReferenceNumber" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessorResponseCode" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessorResponseMessage" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessorTraceNumber" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessorInstallmentFirstAmount" type="v1:AmountValueType" />
        <xs:element minOccurs="0" name="ProcessorInstallmentOtherAmount" type="v1:AmountValueType" />
        <xs:element minOccurs="0" name="ProcessorInstallmentIssuerFeeAmount" type="v1:AmountValueType" />
        <xs:element minOccurs="0" name="ProcessorInstallmentTaxesAmount" type="v1:AmountValueType" />
        <xs:element minOccurs="0" name="ProcessorInstallmentInsuranceAmount" type="v1:AmountValueType" />
        <xs:element minOccurs="0" name="ProcessorInstallmentOtherExpensesAmount" type="v1:AmountValueType" />
        <xs:element minOccurs="0" name="ProcessorInstallmentTotalAmount" type="v1:AmountValueType" />
        <xs:element minOccurs="0" name="ProcessorInstallmentRatePerYear" type="v1:AmountValueType" />
        <xs:element minOccurs="0" name="ProcessorVoucherRemainingAmount" type="v1:AmountValueType" />
        <xs:element minOccurs="0" name="ProcessorVoucherType" type="xs:string" />
        <xs:element minOccurs="0" name="ReferencedTDate" type="xs:string" />
        <xs:element minOccurs="0" name="SchemeTransactionId" type="xs:string" />
        <xs:element minOccurs="0" name="TDate" type="xs:string" />
        <xs:element minOccurs="0" name="TDateFormatted" type="xs:string" />
        <xs:element minOccurs="0" name="TerminalID" type="xs:string" />
        <xs:element minOccurs="0" name="TransactionResult" type="xs:string" />
        <xs:element minOccurs="0" name="TransactionTime" type="xs:string" />
        <xs:element minOccurs="0" ref="ipgapi:EMVCardPresentResponse" />
        <xs:element minOccurs="0" ref="v1:MandateReference" />
        <xs:element name="RedirectUrl" type="v1:String100max" />
        <xs:element minOccurs="0" ref="ipgapi:HostedData" />
        <xs:element minOccurs="0" name="Secure3DResponse" type="v1:Secure3DResponse" />
        <xs:element minOccurs="0" name="SecurePlusResponse" type="v1:SecurePlusResponse" />
        <xs:element minOccurs="0" name="ConvenienceFee" type="v1:AmountValueType" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="EMVCardPresentResponse">
    <xs:complexType>
      <xs:all>
        <xs:element ref="ipgapi:EMVResponseData" />
        <xs:element ref="v1:TLVData" />
        <xs:element name="CryptData" type="ipgapi:CryptDataType" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="EMVResponseData">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" name="AuthorizationIdentification-DF817E">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:minLength value="1" />
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AuthorizationParameter-DF817D">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:length value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="IssuerAuthenticationData-91">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:minLength value="8" />
              <xs:maxLength value="16" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="IssuerScriptTemplate1-71">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:minLength value="9" />
              <xs:maxLength value="746" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="IssuerScriptTemplate2-72">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:minLength value="9" />
              <xs:maxLength value="746" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="IssuerAuthorizationResponseCode-8A" type="v1:IssuerAuthorizationResponseCode-8A" />
        <xs:element minOccurs="0" name="MessageControlField-DF4F">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[0-9]{2}" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="ReceiptNumber-DF8161">
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="9999" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="SpecialDataBlock-DF817F">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary" />
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="TraceNumber-DF8260" type="v1:TraceNumber-DF8260" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CryptDataType">
    <xs:all>
      <xs:element name="MAC" type="v1:MACType" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ClearingDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ipgapi:ClearingElement" />
      <xs:element name="BatchTimeStamp" type="v1:StringDateTime" />
      <xs:element minOccurs="0" name="receiptNumberFrom" type="v1:PositiveNumeric4max" />
      <xs:element minOccurs="0" name="receiptNumberTo" type="v1:PositiveNumeric4max" />
      <xs:element minOccurs="0" name="traceNumber" type="v1:TraceNumber-DF8260" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClearingElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Brand" type="xs:string" />
        <xs:element name="Value" type="xs:long" />
        <xs:element name="Count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IPGApiActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="successfully" type="xs:boolean" />
        <xs:element minOccurs="0" name="OrderId" type="xs:string" />
        <xs:element minOccurs="0" name="TransactionId" type="v1:PositiveNumeric14max" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="a1:Error" />
        <xs:element minOccurs="0" name="ResultInfo" type="a1:ResultInfoType" />
        <xs:element minOccurs="0" ref="v1:Basket" />
        <xs:element minOccurs="0" ref="v1:Billing" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="a1:Product" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="a1:ProductStock" />
        <xs:element minOccurs="0" ref="v1:MandateReference" />
        <xs:element minOccurs="0" ref="v1:Mandate" />
        <xs:element minOccurs="0" ref="v1:Shipping" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="a1:TransactionValues" />
        <xs:element minOccurs="0" name="RecurringPaymentInformation" type="a1:RecurringPaymentValues" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="DataStorageItem" type="a1:DataStorageItem" />
        <xs:element minOccurs="0" name="ProcessorResponseCode" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessorRequestMessage" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessorResponseMessage" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderValues" type="a1:OrderValueType" />
        <xs:element minOccurs="0" maxOccurs="1" name="CardRateForDCC" type="a1:InquiryRateType" />
        <xs:element minOccurs="0" maxOccurs="1" name="MerchantRateForDynamicPricing" type="a1:InquiryRateType" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="CardInformation" type="a1:CardInformation">
          <xs:annotation>
            <xs:documentation>Sorted by the priority of the supported brands.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ClearingDetails" type="ipgapi:ClearingDetails" />
        <xs:element minOccurs="0" name="paymentUrl" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HostedData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="HostedDataID" type="v1:String128max" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>