WebApplicationTest1/WebApplicationTest1/FirstDataWSDL/schemas/ipgapi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ipgapi="http://ipg-online.com/ipgapi/schemas/ipgapi" xmlns:a1="http://ipg-online.com/ipgapi/schemas/a1"
	xmlns:v1="http://ipg-online.com/ipgapi/schemas/v1" elementFormDefault="qualified" targetNamespace="http://ipg-online.com/ipgapi/schemas/ipgapi">

	<xs:import namespace="http://ipg-online.com/ipgapi/schemas/v1" schemaLocation="../schemas/v1.xsd" />
	<xs:import namespace="http://ipg-online.com/ipgapi/schemas/a1" schemaLocation="../schemas/a1.xsd" />

	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Request - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	<xs:element name="IPGApiOrderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="v1:Transaction" />
					<xs:element ref="v1:SubsequentTransaction" />
				</xs:choice>
				<xs:element ref="v1:MerchantDetails" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="IPGApiActionRequest">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="a1:Action" />
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Response  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	<!--
	The values and sub values can be null, even if it is not explicitly marked.
	You should not consider the answer to this XSD, otherwise you would get an error if we add a new field.
	-->

	<xs:element name="IPGApiOrderResponse">
		<xs:complexType>
			<xs:all>
				<!-- for internal use only -->
				<xs:element name="DebugInformation" type="xs:string" minOccurs="0" />
				<xs:element name="ApprovalCode" type="xs:string" minOccurs="0" />
				<xs:element name="AVSResponse" type="xs:string" minOccurs="0" />
				<xs:element name="Brand" type="xs:string" minOccurs="0" />
				<xs:element name="Country" type="xs:string" minOccurs="0" />
				<xs:element name="CommercialServiceProvider" type="xs:string" minOccurs="0" />
				<xs:element name="ErrorMessage" type="xs:string" minOccurs="0" />
				<xs:element name="ExternalMerchantID" type="xs:string" minOccurs="0" />
				<xs:element name="FraudScore" type="xs:int" minOccurs="0" />
				<xs:element name="OrderId" type="xs:string" minOccurs="0" />
				<xs:element name="IpgTransactionId" type="v1:PositiveNumeric14max" minOccurs="0" />
				<xs:element name="PayerSecurityLevel" type="xs:string" minOccurs="0" />
				<xs:element name="PaymentType" type="xs:string" minOccurs="0" />
				<xs:element name="ProcessorApprovalCode" type="xs:string" minOccurs="0" />
				<xs:element name="ProcessorReceiptNumber" type="xs:string" minOccurs="0" />
				<xs:element name="ProcessorBatchNumber" type="xs:string" minOccurs="0" />
				<xs:element name="ProcessorCCVResponse" type="xs:string" minOccurs="0" />
				<xs:element name="ProcessorReferenceNumber" type="xs:string" minOccurs="0" />
				<xs:element name="ProcessorResponseCode" type="xs:string" minOccurs="0" />
				<xs:element name="ProcessorResponseMessage" type="xs:string" minOccurs="0" />
				<xs:element name="ProcessorTraceNumber" type="xs:string" minOccurs="0" />
				<xs:element name="ProcessorInstallmentFirstAmount" type="v1:AmountValueType" minOccurs="0" />
				<xs:element name="ProcessorInstallmentOtherAmount" type="v1:AmountValueType" minOccurs="0" />
				<xs:element name="ProcessorInstallmentIssuerFeeAmount" type="v1:AmountValueType" minOccurs="0" />
				<xs:element name="ProcessorInstallmentTaxesAmount" type="v1:AmountValueType" minOccurs="0" />
				<xs:element name="ProcessorInstallmentInsuranceAmount" type="v1:AmountValueType" minOccurs="0" />
				<xs:element name="ProcessorInstallmentOtherExpensesAmount" type="v1:AmountValueType" minOccurs="0" />
				<xs:element name="ProcessorInstallmentTotalAmount" type="v1:AmountValueType" minOccurs="0" />
				<xs:element name="ProcessorInstallmentRatePerYear" type="v1:AmountValueType" minOccurs="0" />
				<xs:element name="ProcessorVoucherRemainingAmount" type="v1:AmountValueType" minOccurs="0" />
				<xs:element name="ProcessorVoucherType" type="xs:string" minOccurs="0" />
				<xs:element name="ReferencedTDate" type="xs:string" minOccurs="0" />
				<xs:element name="SchemeTransactionId" type="xs:string" minOccurs="0" />
				<xs:element name="TDate" type="xs:string" minOccurs="0" />
				<xs:element name="TDateFormatted" type="xs:string" minOccurs="0" />
				<xs:element name="TerminalID" type="xs:string" minOccurs="0" />
				<xs:element name="TransactionResult" type="xs:string" minOccurs="0" />
				<xs:element name="TransactionTime" type="xs:string" minOccurs="0" />
				<xs:element ref="ipgapi:EMVCardPresentResponse" minOccurs="0" />
				<xs:element ref="v1:MandateReference" minOccurs="0" />
				<xs:element name="RedirectUrl" type="v1:String100max" />
				<xs:element ref="ipgapi:HostedData" minOccurs="0"/>
				<xs:element name="Secure3DResponse" type="v1:Secure3DResponse" minOccurs="0" />
				<xs:element name="SecurePlusResponse" type="v1:SecurePlusResponse" minOccurs="0" />
				<xs:element name="ConvenienceFee" type="v1:AmountValueType" minOccurs="0" />
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="EMVCardPresentResponse">
		<xs:complexType>
			<xs:all>
				<xs:element ref="ipgapi:EMVResponseData" />
				<xs:element ref="v1:TLVData" />
				<xs:element name="CryptData" type="ipgapi:CryptDataType" />
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="EMVResponseData">
		<xs:complexType>
			<xs:all>
				<xs:element name="AuthorizationIdentification-DF817E" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:minLength value="1" />
							<xs:maxLength value="8" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AuthorizationParameter-DF817D" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="8" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IssuerAuthenticationData-91" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:minLength value="8" />
							<xs:maxLength value="16" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IssuerScriptTemplate1-71" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:minLength value="9" />
							<xs:maxLength value="746" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IssuerScriptTemplate2-72" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:minLength value="9" />
							<xs:maxLength value="746" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IssuerAuthorizationResponseCode-8A" type="v1:IssuerAuthorizationResponseCode-8A" minOccurs="0" />
				<xs:element name="MessageControlField-DF4F" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[0-9]{2}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ReceiptNumber-DF8161" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0" />
							<xs:maxInclusive value="9999" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SpecialDataBlock-DF817F" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="TraceNumber-DF8260" type="v1:TraceNumber-DF8260" minOccurs="0" />
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="CryptDataType">
		<xs:all>
			<xs:element name="MAC" type="v1:MACType"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ClearingDetails">
		<xs:sequence>
			<xs:element ref="ipgapi:ClearingElement" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="BatchTimeStamp" type="v1:StringDateTime" />
			<xs:element name="receiptNumberFrom" type="v1:PositiveNumeric4max" minOccurs="0" />
			<xs:element name="receiptNumberTo" type="v1:PositiveNumeric4max" minOccurs="0" />
			<xs:element name="traceNumber" type="v1:TraceNumber-DF8260" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="ClearingElement">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Brand" type="xs:string" />
				<xs:element name="Value" type="xs:long" />
				<xs:element name="Count" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="IPGApiActionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="successfully" type="xs:boolean" />
				<xs:element name="OrderId" type="xs:string" minOccurs="0" />
				<xs:element name="TransactionId" type="v1:PositiveNumeric14max" minOccurs="0" />
				<xs:element ref="a1:Error" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="ResultInfo" type="a1:ResultInfoType" minOccurs="0" />
				<xs:element ref="v1:Basket" minOccurs="0" />
				<xs:element ref="v1:Billing" minOccurs="0" />
				<xs:element ref="a1:Product" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="a1:ProductStock" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="v1:MandateReference" minOccurs="0" />
				<xs:element ref="v1:Mandate" minOccurs="0" />
				<xs:element ref="v1:Shipping" minOccurs="0" />
				<xs:element ref="a1:TransactionValues" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="RecurringPaymentInformation" type="a1:RecurringPaymentValues" minOccurs="0" />
				<xs:element name="DataStorageItem" type="a1:DataStorageItem" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="ProcessorResponseCode" type="xs:string" minOccurs="0" />
				<xs:element name="ProcessorRequestMessage" type="xs:string" minOccurs="0" />
				<xs:element name="ProcessorResponseMessage" type="xs:string" minOccurs="0" />
				<xs:element name="OrderValues" type="a1:OrderValueType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="CardRateForDCC" type="a1:InquiryRateType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="MerchantRateForDynamicPricing" type="a1:InquiryRateType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="CardInformation" type="a1:CardInformation" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Sorted by the priority of the supported brands.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ClearingDetails" type="ipgapi:ClearingDetails" minOccurs="0" />
				<xs:element name="paymentUrl" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="HostedData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HostedDataID" type="v1:String128max" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
