WebApplicationTest1/WebApplicationTest1/FirstDataWSDL/schemas/v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:v1="http://ipg-online.com/ipgapi/schemas/v1" targetNamespace="http://ipg-online.com/ipgapi/schemas/v1"
	elementFormDefault="qualified">

	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- main - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	<xs:element name="Transaction" type="v1:Transaction" />
	<xs:element name="SubsequentTransaction" type="v1:SubsequentTransaction" />

	<xs:element name="MerchantDetails" type="v1:MerchantDetails">
		<xs:annotation>
			<xs:documentation>Please use MerchantDetails instead of StoreId if you are integrating based on the Payment Provider API.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="AdditionalAmountAndRate">
		<xs:sequence>
			<xs:element name="Amount" type="v1:AmountValueType" />
			<xs:element name="Rate" type="v1:Rate">
				<xs:annotation>
					<xs:documentation>rate of the additional amount, e.g. 0.09 (means 9%)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SubsequentTransaction">
		<xs:sequence>
			<xs:choice>
				<xs:element name="IpgTransactionId" type="v1:PositiveNumeric14max" />
				<xs:element name="ReferencedMerchantTransactionId" type="v1:String40max" />
				<xs:sequence>
					<xs:element name="OrderId" type="v1:String100max"/>
					<xs:element name="TDate" type="v1:TDateType" />
				</xs:sequence>
			</xs:choice>
			<xs:element name="MerchantTransactionId" type="v1:String40max" minOccurs="0" >
				<xs:annotation>
					<xs:documentation>Specify a unique ID for the transaction which can be used to reference the transaction in the request</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Options" type="v1:Options" minOccurs="0"/>
			<xs:element name="TransactionType" type="v1:SubsequentTransactionType">
				<xs:annotation>
					<xs:documentation>Specify the transaction type which we are going to do (e.g. VOID, RETURN)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="v1:Payment" minOccurs="0" />
			<xs:element ref="v1:Basket" minOccurs="0" >
				<xs:annotation>
					<xs:documentation>Basket items for the subsequent transaction (Will be ignored for the VOID transaction type)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Transaction">
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element name="CreditCardTxType" type="v1:CreditCardTxType" />
					<xs:choice>
						<xs:sequence>
							<xs:element name="CreditCardData" type="v1:CreditCardData" minOccurs="0" />
							<xs:choice>
								<xs:element ref="v1:CreditCard3DSecure" minOccurs="0" />
								<xs:element ref="v1:Upop" minOccurs="0" />
							</xs:choice>
							<xs:element ref="v1:MCC6012Details" minOccurs="0" />
						</xs:sequence>
						<xs:element name="EMVCardPresentRequest" type="v1:EMVCardPresentRequest"/>
					</xs:choice>
					<xs:element name="cardFunction" type="v1:CardFunctionType" minOccurs="0" />
					<xs:element name="cardAccount" type="v1:CardAccountType" minOccurs="0" />
					<xs:element name="recurringType" type="v1:RecurringType" minOccurs="0" />
					<xs:element name="unscheduledCredentialOnFileType" type="v1:UnscheduledCredentialOnFileType" minOccurs="0" />
					<xs:element name="PaymentFacilitator" type="v1:PaymentFacilitator" minOccurs="0">
						<xs:annotation>
							<xs:documentation>If only PaymentFacilitator element is given but no SubMerchant element, the transaction is considered as sub merchant transaction started by sub merchant store. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SubMerchant" type="v1:MerchantMasterData" minOccurs="0">
						<xs:annotation>
							<xs:documentation>FOR FUTURE USE! Once SubMerchant element is given, the transaction is considered as sub merchant transaction started with master store (aka: Payment Facilitator store). 
							The payment facilitator information should be either given in the PaymentFacilitator element or configured on store level in the master store. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Wallet" type="v1:Wallet" minOccurs="0" />
				</xs:sequence>
				<xs:sequence>
					<xs:element name="CustomerCardTxType" type="v1:CustomerCardTxType" />
					<xs:element name="CustomerCardData" type="v1:CustomerCardData" minOccurs="0" />
				</xs:sequence>
				<xs:sequence>
					<xs:element name="DE_DirectDebitTxType" type="v1:DE_DirectDebitTxType" />
					<xs:choice>
						<xs:element name="DE_DirectDebitData" type="v1:DE_DirectDebitData" minOccurs="0" />
						<xs:element name="DE_DirectDebitEMV" type="v1:EMVCardPresentRequest"/>
					</xs:choice>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="IdealTxType" type="v1:IdealTxType" />
				</xs:sequence>
				<xs:sequence>
					<xs:element name="PayPalTxType" type="v1:PayPalTxType" />
				</xs:sequence>
				<xs:sequence>
					<xs:element name="SofortTxType" type="v1:SofortTxType" />
				</xs:sequence>
				<xs:sequence>
					<xs:element name="TopUpTxType" type="v1:TopUpTxType" />
				</xs:sequence>
				<xs:sequence>
					<xs:element name="PaymentUrlTxType" type="v1:PaymentUrlTxType" />
				</xs:sequence>
				<xs:sequence>
					<xs:element name="KlarnaTxType" type="v1:KlarnaTxType" />
					<xs:element name="KlarnaPClassID" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>For Invoice please send -1</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>Sepa transaction type is relevant only for Local Payments (APM)</xs:documentation>
					</xs:annotation>
					<xs:element name="SepaTxType" type="v1:SepaTxType"/>
					<xs:element name="SepaData">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IBAN" type="v1:IbanType" minOccurs="1"/>
								<xs:element ref="v1:Mandate" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:choice>
			<xs:element ref="v1:Payment" minOccurs="0" />
			<xs:element name="TransactionDetails" type="v1:TransactionDetails" minOccurs="0" />
			<xs:element ref="v1:Billing" minOccurs="0" />
			<xs:element ref="v1:Shipping" minOccurs="0" />
			<xs:element ref="v1:ClientLocale" minOccurs="0" />
			<xs:element ref="v1:Basket" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Options - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	<xs:complexType name="TopUpTxType">
		<xs:complexContent>
			<xs:extension base="v1:Options">
				<xs:choice>
					<xs:element name="MPCharge">
						<xs:complexType>
							<xs:all>
								<xs:element ref="v1:MNSP" />
								<!-- MobilePhoneNumber -->
								<xs:element name="MSISDN" minOccurs="0">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:pattern value="[0-9]{5,15}" />
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element ref="v1:PaymentType" />
							</xs:all>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="CreditCardTxType">
		<xs:complexContent>
			<xs:extension base="v1:Options">
				<xs:sequence>
					<xs:element name="Type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="credit" />
								<xs:enumeration value="forceTicket" />
								<xs:enumeration value="forceticket" />
								<xs:enumeration value="postAuth" />
								<xs:enumeration value="postauth" />
								<xs:enumeration value="preAuth" />
								<xs:enumeration value="preauth" />
								<xs:enumeration value="return" />
								<xs:enumeration value="sale" />
								<xs:enumeration value="void" />
								<xs:enumeration value="payerAuth" />
								<xs:enumeration value="payerauth" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PaymentUrlTxType">
		<xs:complexContent>
			<xs:extension base="v1:Options">
				<xs:sequence>
					<xs:element name="Type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="preAuth" />
								<xs:enumeration value="preauth" />
								<xs:enumeration value="sale" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="CustomerCardTxType">
		<xs:complexContent>
			<xs:extension base="v1:Options">
				<xs:sequence>
					<xs:element name="Type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="forceTicket" />
								<xs:enumeration value="forceticket" />
								<xs:enumeration value="BWListCheck" />
								<xs:enumeration value="bwlistcheck" />
								<xs:enumeration value="sale" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DE_DirectDebitTxType">
		<xs:complexContent>
			<xs:extension base="v1:Options">
				<xs:sequence>
					<xs:element name="Type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="credit" />
								<xs:enumeration value="return" />
								<xs:enumeration value="sale" />
								<xs:enumeration value="void" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="IdealTxType">
		<xs:complexContent>
			<xs:extension base="v1:Options">
				<xs:sequence>
					<xs:element name="Type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="return" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PayPalTxType">
		<xs:complexContent>
			<xs:extension base="v1:Options">
				<xs:sequence>
					<xs:element name="Type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="credit" />
								<xs:enumeration value="postAuth" />
								<xs:enumeration value="postauth" />
								<xs:enumeration value="return" />
								<xs:enumeration value="void" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SofortTxType">
		<xs:complexContent>
			<xs:extension base="v1:Options">
				<xs:sequence>
					<xs:element name="Type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="return" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="KlarnaTxType">
		<xs:complexContent>
			<xs:extension base="v1:Options">
				<xs:sequence>
					<xs:element name="Type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="preAuth" />
								<xs:enumeration value="preauth" />
								<xs:enumeration value="postAuth" />
								<xs:enumeration value="postauth" />
								<xs:enumeration value="void" />
								<xs:enumeration value="return" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SepaTxType">
		<xs:complexContent>
			<xs:extension base="v1:Options">
				<xs:sequence>
					<xs:element name="Type">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="credit" />
								<xs:enumeration value="sale" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Options">
		<xs:sequence>
			<xs:element name="StoreId" type="v1:String20max" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Please submit a Store ID in case you manage multiple Store IDs with your integration.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Card - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	<xs:complexType name="CreditCardData">
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:group ref="v1:Card" minOccurs="0" />
					<xs:element name="CardCodeValue" type="v1:CardCodeValue" minOccurs="0" />
					<xs:element ref="v1:CryptData" minOccurs="0" />
				</xs:sequence>
				<xs:element name="TrackData" type="v1:TrackData" />
			</xs:choice>
			<xs:element name="Brand" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AMEX" />
						<xs:enumeration value="BCMC" />
						<xs:enumeration value="CABAL" />
						<xs:enumeration value="DINERS/DISCOVER" />
						<xs:enumeration value="DINACARD" />
						<xs:enumeration value="JCB" />
						<xs:enumeration value="MAESTRO" />
						<xs:enumeration value="MASTERCARD" />
						<xs:enumeration value="MEXICOLOCAL" />
						<xs:enumeration value="SOROCRED" />
						<xs:enumeration value="VISA" />
						<xs:enumeration value="UNIONPAY" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CustomerCardData">
		<xs:sequence>
			<xs:choice>
				<xs:group ref="v1:Card" />
				<xs:element name="TrackData" type="v1:TrackData" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DE_DirectDebitData">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:sequence>
					<xs:element name="BIC" minOccurs="0" type="v1:BICType"/>
					<xs:element name="IBAN" type="v1:IbanType"/>
				</xs:sequence>
				<xs:element name="TrackData" type="v1:TrackData" />

				<!-- deprecated -->
				<xs:sequence>
					<xs:element name="BankCode" type="v1:BankCodeType"/>

					<xs:element name="AccountNumber" type="v1:AccountNumberType"/>
				</xs:sequence>

			</xs:choice>
			<xs:element ref="v1:MandateReference" minOccurs="0" />
			<xs:element ref="v1:MandateType" minOccurs="0" />
			<xs:element name="DateOfMandate" type="v1:StringDate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="MandateReference" type="v1:MandateReferenceType" />

	<xs:element name="MandateType" default="SINGLE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SINGLE" />
				<xs:enumeration value="RECURRING_COLLECTION" />
				<xs:enumeration value="FIRST_COLLECTION" />
				<xs:enumeration value="FINAL_COLLECTION" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:group name="Card">
		<xs:sequence>
			<xs:element name="CardNumber" type="v1:CardNumber" minOccurs="0" />
			<xs:element name="ExpMonth">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(0[1-9])|(1[0-2])" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExpYear">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{2}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:simpleType name="CardCodeValue">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3,4}|" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CardNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{13,19}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TrackData">
		<xs:restriction base="xs:string">
			<!-- track 1 length + track 2 length + track 3 length = 90 + 64 + 107 = 261 -->
			<xs:pattern value="[a-zA-Z0-9;.%=^?/ \\-]{1,261}" />
		</xs:restriction>
	</xs:simpleType>

	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- TopUpTxType - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	<!-- MobileNetworkServiceProvider -->
	<xs:element name="MNSP">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<!-- Deutsche Telekom -->
				<xs:enumeration value="D1" />
				<!-- Vodafon -->
				<xs:enumeration value="D2" />
				<!-- E+ -->
				<xs:enumeration value="EP" />
				<!-- O2 -->
				<xs:enumeration value="VI" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="PaymentType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Amex" />
				<xs:enumeration value="Cash" />
				<xs:enumeration value="Diners" />
				<xs:enumeration value="ECMC" />
				<xs:enumeration value="JCB" />
				<xs:enumeration value="VISA" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- Card present - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	<xs:complexType name="EMVCardPresentRequest">
		<xs:sequence>
			<xs:element ref="v1:CryptData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CryptData is only optional for the referenced transaction, for the first EMV transaction like sale, preauth, credit etc. it must be given.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element ref="v1:EMVRequestData" />
				<xs:element ref="v1:TLVData" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="CryptData">
		<xs:complexType>
			<xs:all>
				<xs:element name="SRED">
					<xs:complexType>
						<xs:all>
							<xs:element name="Value">
								<xs:simpleType>
									<xs:restriction base="xs:hexBinary">
										<!-- 
										<xs:length value="256" /> 
										-->
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="KSN">
								<xs:simpleType>
									<xs:restriction base="xs:hexBinary">
										<xs:length value="10" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="PINBlock" minOccurs="0">
					<xs:complexType>
						<xs:all>
							<!-- 
							<xs:element name="Format"> 
								<xs:simpleType> 
									<xs:restriction base="xs:string"> 
										<xs:length value="8" /> 
									</xs:restriction> 
								</xs:simpleType> 
							</xs:element> 
							-->
							<xs:element name="Value">
								<xs:simpleType>
									<xs:restriction base="xs:hexBinary">
										<!-- 
										<xs:length value="256" /> 
										-->
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="KSN">
								<xs:simpleType>
									<xs:restriction base="xs:hexBinary">
										<xs:length value="10" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="MAC" type="v1:MACType" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="EMVRequestData">
		<xs:complexType>
			<xs:all>
				<xs:element name="AdditionalTerminalCapabilities-9F40" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="5" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AdditionalTerminalReadCapabilities-DF8301" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AmountAuthorised-9F02" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:long">
							<xs:pattern value="[0-9]{1,12}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AmountOther-9F03" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:long">
							<xs:pattern value="[0-9]{1,12}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ApplicationCryptogram-9F26" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="8" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ApplicationIdentifier-4F" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:minLength value="5" />
							<xs:maxLength value="16" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ApplicationIdentifierTerminal-9F06" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:minLength value="5" />
							<xs:maxLength value="16" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ApplicationInterchangeProfile-82" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ApplicationLabel-50" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="16" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ApplicationPANSequenceNumber-5F34" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0" />
							<xs:maxInclusive value="99" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ApplicationTransactionCounter-9F36" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ApplicationUsageControl-9F07" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="4" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ApplicationVersionNumber-9F09" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CardType-DF60" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="4" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CommandDataInternalAuthenticate-DF03" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Command data for emergency transactions</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:minLength value="2" />
							<xs:maxLength value="256" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Container-FF04" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Contains DF8050 (SRED) und DF8052 (KSN)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:minLength value="26" />
							<xs:maxLength value="100" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Container-FF05" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Contains DF8051 (PIN Block) und DF8052 (KSN)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="26" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CryptogramInformationData-9F27" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CVMResults-9F34" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="3" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DedicatedFileName-84" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:minLength value="5" />
							<xs:maxLength value="16" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DynamicDataAuthenticationObjectList-9F49" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Dynamic Data Authentication Data Object List</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:minLength value="0" />
							<xs:maxLength value="252" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EMV-9F6E" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Form Factor Indicator (qVSDC) for VISA, format length=4; Third Party Data for Mastercard, format length 5-32</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:minLength value="4" />
							<xs:maxLength value="32" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EMV-9F7C" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Customer Exclusive Data (CED) for VISA, format length=var. up to 32; Merchant Custom Data for Mastercard, format length=20</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:minLength value="1" />
							<xs:maxLength value="32" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EMV-9F67" minOccurs="0">
					<xs:annotation>
						<xs:documentation>MSD Offset, format length=var. up var; NATC (Track2) , format legth=1</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:minLength value="1" />
							<xs:maxLength value="32" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ErrorDetection-DF02" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The state of the chip processing in the card and in the terminal if the transaction is not successfully processed based on the EMV chip.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="15" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="InterfaceDeviceSerialNumber-9F1E" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="8" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IssuerApplicationData-9F10" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:maxLength value="32" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IssuerAuthenticationData-91" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:minLength value="8" />
							<xs:maxLength value="16" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IssuerAuthorizationResponseCode-8A" type="v1:IssuerAuthorizationResponseCode-8A" minOccurs="0" />
				<xs:element name="IssuerScriptResults-DF01" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Results of the Issuer Script Execution</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:minLength value="4" />
							<xs:maxLength value="22" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MerchantIdentifier-9F16" minOccurs="0">
					<xs:annotation>
						<xs:documentation>When concatenated with the Acquirer Identifier, uniquely identifies a given merchant</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="15" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PointOfServiceEntryMode-9F39" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0" />
							<xs:maxInclusive value="99" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ReceiptNumber-DF8161" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="1" />
							<xs:maxInclusive value="9999" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ResponseDataInternalAuthenticate-DF04" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Response data for emergency transactions</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:minLength value="2" />
							<xs:maxLength value="256" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TerminalApplicationVersionNumber-9F09" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TerminalCapabilities-9F33" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="3" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TerminalCountry-9F1A" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0" />
							<xs:maxInclusive value="999" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TerminalType-9F35" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0" />
							<xs:maxInclusive value="99" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TerminalVerificationResults-95" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="5" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TraceNumber-DF8260" type="v1:TraceNumber-DF8260" minOccurs="0" />
				<xs:element name="TransactionCategoryCode-9F53" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The Transaction Category Code is a MasterCard defined data element that may assist with Card Risk Management</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:minLength value="1" />
							<xs:maxLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TransactionCertificateHashValue-98" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="20" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TransactionCurrencyCode-5F2A" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0" />
							<xs:maxInclusive value="999" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TransactionDate-9A" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:pattern value="[1-9][0-9][0-1][0-9][0-3][0-9]" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TransactionTime-9F21" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:pattern value="[0-2][0-9][0-5][0-9][0-5][0-9]" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TransactionSequenceCounter-9F41" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:pattern value="[0-9]{4,8}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TransactionStatusInformation-9B" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TransactionType-9C" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="0" />
							<xs:maxInclusive value="99" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UnpredictableNumber-9F37" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:length value="4" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IssuerScriptResults-DF31" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:hexBinary"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ApplicationEffectiveDate-5F25" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<!-- YYMMDD -->
							<xs:pattern value="[0-9][0-9][0-1][0-9][0-3][0-9]" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="TLVData">
		<xs:simpleType>
			<xs:restriction base="xs:hexBinary">
				<xs:maxLength value="1024" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>


	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- common - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	<xs:element name="CreditCard3DSecure">
		<xs:complexType>
			<xs:all>
				<xs:element name="VerificationResponse" type="v1:CardEnrolledType" minOccurs="0"/>
				<xs:element name="PayerAuthenticationResponse" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="A" />
							<!-- 
							<xs:enumeration value="E" /> 
							-->
							<xs:enumeration value="N" />
							<xs:enumeration value="U" />
							<xs:enumeration value="Y" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DSRPECI" minOccurs="0">
					<xs:simpleType>
						<xs:annotation>
							<xs:documentation>To set ECI value for Digital Secure Remote Payments. If you submit this parameter, any values for parameters VerificationResponse and PayerAuthenticationResponse will be ignored.</xs:documentation>
						</xs:annotation>
						<xs:restriction base="xs:string">
							<xs:pattern value="[0-9]{2}|" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AuthenticationValue" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="20" />
							<xs:maxLength value="32" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="XID" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="20" />
							<xs:maxLength value="32" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AuthenticateTransaction" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							true in case that we would like to authenticate the transaction via secure 3d.
							If card is enrolled response will contain the VerificationRedirectResponse.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Secure3DRequest" type="v1:Secure3DRequest" minOccurs="0" />
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="Upop">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SendSmsResponseCode" minOccurs="0">
					<xs:simpleType>
						<xs:annotation>
							<xs:documentation>Response Code from UPOP on Send-SMS request (1st)</xs:documentation>
						</xs:annotation>
						<xs:restriction base="xs:string">
							<xs:pattern value="[0-9]{2}|" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="VCode" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="200" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ActivateStatus" minOccurs="0">
					<xs:simpleType>
						<xs:annotation>
							<xs:documentation>activateStatus response from UPOP on Verify-Enrollment request (2nd)</xs:documentation>
						</xs:annotation>
						<xs:restriction base="xs:string">
							<xs:pattern value="[AYFNL]{1}|" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AuthenticateTransaction" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							true in case that we would like to authenticate the transaction via Secure Plus, whic halso requires a billing mobile phone to be
							sent along with this request.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SecurePlusRequest" type="v1:SecurePlusRequest" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Payment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HostedDataID" type="v1:String128max" minOccurs="0"  maxOccurs="25" />
				<xs:element name="HostedDataStoreID" type="v1:String20max" minOccurs="0" />
				<xs:element name="DeclineHostedDataDuplicates" type="xs:boolean" minOccurs="0" default="false" />
				<xs:group ref="v1:Amount" minOccurs="0" />
				<xs:element name="numberOfInstallments" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:positiveInteger">
							<xs:maxInclusive value="99" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="installmentsInterest" minOccurs="0">
					<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="yes" />
								<xs:enumeration value="no" />
							</xs:restriction>
						</xs:simpleType>
				</xs:element>
				<xs:element name="installmentDelayMonths" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:positiveInteger">
							<xs:maxInclusive value="99" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="installmentPlanID" type="v1:String1max" minOccurs="0" />
				<xs:element name="TokenType" type="v1:TokenType" minOccurs="0"/>
				<xs:element name="AssignToken" type="v1:AssignToken" minOccurs="0" default="false"/>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="uniqueHostedDataId">
      		<xs:selector xpath="v1:HostedDataID"/>
      		<xs:field xpath="."/>
    	</xs:unique>
	</xs:element>

	<xs:group name="Amount">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element name="SubTotal" type="v1:AmountValueType" />
				<xs:element name="ValueAddedTax" type="v1:AmountValueType" minOccurs="0" />
				<xs:element name="localTax" type="v1:AmountValueType" minOccurs="0" />
				<xs:element name="DeliveryAmount" type="v1:AmountValueType" minOccurs="0" />
				<xs:element name="CashbackAmount" type="v1:AmountValueType" minOccurs="0" />
				<xs:element name="TipAmount" type="v1:AmountValueType" minOccurs="0" />
			</xs:sequence>
			<!-- ChargeTotal = SubTotal + ValueAddedTax + localTax + DeliveryAmount + CashbackAmount + TipAmount -->
			<xs:element name="ChargeTotal" type="v1:AmountValueType" />
			<xs:element name="Currency" type="v1:CurrencyType">

			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:group name="ItemAmount">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element name="SubTotal" type="v1:ItemAmountValueType" />
				<xs:element name="ValueAddedTax" type="v1:ItemAmountValueType" minOccurs="0" />
				<xs:element name="localTax" type="v1:ItemAmountValueType" minOccurs="0" />
				<xs:element name="DeliveryAmount" type="v1:ItemAmountValueType" minOccurs="0" />
			</xs:sequence>
			<!-- ChargeTotal = SubTotal + ValueAddedTax + localTax + DeliveryAmount -->
			<xs:element name="ChargeTotal" type="v1:ItemAmountValueType" />
			<xs:element name="Currency" type="v1:CurrencyType">
				<xs:annotation>
					<xs:documentation>Currency will be ignored by IPG</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="TransactionDetails">
		<xs:all>
			<xs:element name="AirlineDetails" type="v1:AirlineDetails" minOccurs="0" />
			<xs:element ref="v1:AdditionalRequestParameters" minOccurs="0" />
			<xs:element name="CarRental" type="v1:CarRental" minOccurs="0" />
			<xs:element name="HotelLodging" type="v1:HotelLodging" minOccurs="0" />
			<xs:element name="PurchaseCard" type="v1:PurchaseCard" minOccurs="0" />
			<xs:element name="Comments" type="v1:String1024max" minOccurs="0" />
			<xs:element name="InvoiceNumber" type="v1:String48max" minOccurs="0" />
			<xs:element name="DynamicMerchantName" type="v1:String100max" minOccurs="0" />
			<xs:element name="PONumber" type="v1:String128max" minOccurs="0" />
			<xs:element name="OrderId" type="v1:String100max" minOccurs="0" />
			<xs:element name="MerchantTransactionId" type="v1:String40max" minOccurs="0" />
			<xs:element name="ReferencedMerchantTransactionId" type="v1:String40max" minOccurs="0" />
			<xs:element name="ReferencedSchemeTransactionId" type="v1:String40max" minOccurs="0" />
			<xs:element name="IpgTransactionId" type="v1:PositiveNumeric14max" minOccurs="0" />
			<xs:element ref="v1:OfflineApprovalType" minOccurs="0" />
			<xs:element name="Ip" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="((25[0-5]|(2[0-4]|1[0-9]|[1-9])?[0-9])\.){3}(25[0-5]|(2[0-4]|1[0-9]|[1-9])?[0-9])|" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReferenceNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(NEW)?[0-9a-zA-Z]{1,8}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SplitShipment" type="v1:SplitShipment" minOccurs="0" />
			<xs:element name="TDate" type="v1:TDateType" minOccurs="0" />
			<xs:element ref="v1:TransactionOrigin" minOccurs="0" />
			<xs:element ref="v1:Terminal" minOccurs="0" />
			<xs:element name="InquiryRateReference" type="v1:InquiryRateReference" minOccurs="0" />
			<!-- please provide the signature in PNG format -->
			<xs:element name="Signature" type="xs:base64Binary" minOccurs="0" />
		</xs:all>
	</xs:complexType>

	<xs:element name="AdditionalRequestParameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="10" ref="v1:keyValuePair"/>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="uniqueKey">
			<xs:selector xpath="v1:keyValuePair"/>
			<xs:field xpath="v1:key"/>
		</xs:unique>
	</xs:element>
	<xs:element name="keyValuePair">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="key">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="100" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="value">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1" />
							<xs:maxLength value="100" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="PurchaseCard">
		<xs:annotation>
			<xs:documentation>Please use the Payment element of the transaction to advise the ValueAddedTax (relevant in the context) or Shipping amount.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomerReferenceID" type="v1:String20max">
				<xs:annotation>
					<xs:documentation>Customer Code / Customer Reference ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplierInvoiceNumber" type="v1:String30max">
				<xs:annotation>
					<xs:documentation>Purchase Identifier/Merchant related data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplierVATRegistrationNumber" type="v1:String30max">
				<xs:annotation>
					<xs:documentation>Merchant VAT registration/Single Business Reference Number/Merchant Tax ID or Corporation VAT Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalDiscountAmountAndRate" type="v1:AdditionalAmountAndRate" minOccurs="0" />
			<xs:element name="VATShippingAmountAndRate" type="v1:AdditionalAmountAndRate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VAT amount/rate that is owed for shipping charges</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="v1:LineItemData" minOccurs="0" maxOccurs="100" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="LineItemData">
		<xs:complexType>
			<xs:all>
				<xs:element name="CommodityCode" type="v1:PositiveNumeric4max">
					<xs:annotation>
						<xs:documentation>The commodity code used to classify the item purchased</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ProductCode" type="v1:String20max" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Merchant product identifier/The Universal Product Code (UPC) of the item purchased</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Description" type="v1:String30max" />
				<xs:element name="Quantity">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UnitOfMeasure" type="v1:String3max" />
				<xs:element name="UnitPrice" type="v1:AmountValueType" />
				<xs:element name="VATAmountAndRate" type="v1:AdditionalAmountAndRate" minOccurs="0" />
				<xs:element name="DiscountAmountAndRate" type="v1:AdditionalAmountAndRate" minOccurs="0" />
				<xs:element name="LineItemTotal" type="v1:AmountValueType" />
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="CarRental">
		<xs:sequence>
			<xs:element name="AgreementNumber" type="v1:String20max" />
			<xs:element name="RenterName" type="v1:String20max" />
			<xs:element name="ReturnCity" type="v1:String20max" />
			<xs:element name="ReturnDate" type="v1:StringDate" />
			<xs:element name="PickupDate" type="v1:StringDate" />
			<xs:element name="RentalClassID" type="v1:String6max" />
			<xs:element name="ExtraCharges" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Extra Mileage" />
						<xs:enumeration value="Gas" />
						<xs:enumeration value="Late Return" />
						<xs:enumeration value="One Way Ser Fee" />
						<xs:enumeration value="Parking Violation" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NoShowIndicator" type="xs:boolean" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="Mandate">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Reference" type="v1:MandateReferenceType" minOccurs="0" />
				<xs:element name="Type" type="v1:MandateType" minOccurs="1" default="SINGLE" />
				<xs:element name="Date" type="v1:StringDate" minOccurs="0"/>
				<xs:element name="Url" type="v1:String100max" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="HotelLodging">
		<xs:sequence>
			<xs:element name="ArrivalDate" type="v1:StringDate" />
			<xs:element name="DepartureDate" type="v1:StringDate" />
			<xs:element name="FolioNumber" type="v1:String20max" />
			<xs:element name="ExtraCharges" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Gift Shop" />
						<xs:enumeration value="Laundry" />
						<xs:enumeration value="Mini Bar" />
						<xs:enumeration value="Other" />
						<xs:enumeration value="Restaurant" />
						<xs:enumeration value="Telephone" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NoShowIndicator" type="xs:boolean" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MerchantDetails">
		<xs:all>
			<xs:element name="ExternalMerchantID" type="v1:String15max">
				<xs:annotation>
					<xs:documentation>Merchant ID that shall be passed to the endpoint (mostly auth switch) if required.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlternateExternalMerchantID" type="v1:String15max" minOccurs="0" />
			<xs:element name="EndpointID" type="v1:String100max">
				<xs:annotation>
					<xs:documentation>Endpoint ID of the remote system that the transaction request will be sent to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="v1:Terminal" />
			<xs:element name="MerchantMasterData" type="v1:MerchantMasterData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Mandatory for the first transaction to the given merchantID or to update the master data for an existing merchant. In case of update please send the complete master data information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="PaymentFacilitator">
		<xs:all>
			<xs:element name="ExternalMerchantID" type="v1:String15max">
				<xs:annotation>
					<xs:documentation>Merchant ID of the payment facilitator.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ID">
				<xs:annotation>
					<xs:documentation>Payment facilitator ID which is supplied during registration process.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\d{1,11}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SaleOrganizationID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Independent Sales Organisation (ISO) ID provided by Mastercard.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\d{1,11}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Name" type="v1:String50max" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="MerchantMasterData">
		<xs:all>
			<xs:element name="Mcc">
				<xs:annotation>
					<xs:documentation>Merchant category code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:maxInclusive value="9999" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LegalName" type="v1:String100max">
				<xs:annotation>
					<xs:documentation>store legal name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dba" type="v1:String50max" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Doing business as</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Email" type="v1:String254max" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Email to send notification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Url" type="v1:String100max" minOccurs="0">
				<xs:annotation>
					<xs:documentation>store url addrress - (e.g. https://www.webshop.com)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DefaultCurrency" type="v1:CurrencyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Currency ISO Alpha code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Timezone" type="v1:String50max" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Timezone code (e.g. 'Europe/London', 'Europe/Berlin', 'Brazil/West')</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="v1:AddressType" />
			<xs:element name="dccEnrollment" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Set to "activate" if the merchant is considered to support DCC transactions. Please note this is a configuration on merchant level, activate should be always set for merchants supporting DCC, even if a non DCC transaction is submitted. At the first time this is set, mind the activation will be forwarded to the DCC service provider, therefore it could take up to a day until DCC is really activated for the merchant. Set to "deactivate" only if the merchant shall be unenrolled at the DCC provider.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="activate" />
						<xs:enumeration value="deactivate" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Document" type="v1:Document" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Document information, only evaluated in context of SubMerchant (related to Payment Facilitator)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MerchantID" type="v1:String15max" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Merchant ID, only evaluated in context of SubMerchant (related to Payment Facilitator). 
					In context of psp for which the Merchant ID shall be passed to the endpoint please use MerchantDetails/ExternalMerchantID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="Document">
		<xs:all>
			<xs:element name="Type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NATIONAL_IDENTITY" />
						<xs:enumeration value="SINGLE_TAX_IDENTIFICATION" />
						<xs:enumeration value="SINGLE_CODE_OF_LABOR_IDENTIFICATION" />
						<xs:enumeration value="BOOK_ENLISTMENT" />
						<xs:enumeration value="CIVIC_NOTEBOOK" />
						<xs:enumeration value="PASSPORT" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Number" type="v1:String30max" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation>definition of the address</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="Address1" type="v1:String50max">
				<xs:annotation>
					<xs:documentation>first part of the address - e.g. Unit 7</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address2" type="v1:String50max" minOccurs="0">
				<xs:annotation>
					<xs:documentation>second part of the address - e.g. Elouera Road 27</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Zip" type="v1:String12max">
				<xs:annotation>
					<xs:documentation>address ZIP code - e.g. 2230</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="v1:String50max">
				<xs:annotation>
					<xs:documentation>city - e.g. Sydney</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="State" type="v1:String12max" minOccurs="0">
				<xs:annotation>
					<xs:documentation>address State - e.g. Sydney or California</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Country" type="v1:CountryType">
				<xs:annotation>
					<xs:documentation>ISO country code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:element name="Basket">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProductStock" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="check" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Item" maxOccurs="100">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ID" type="v1:String128max" />
							<xs:element name="Description" type="v1:String128max" />
							<xs:group ref="v1:ItemAmount" />
							<xs:element name="Quantity" type="xs:int" />
							<xs:element name="Option" minOccurs="0" maxOccurs="100">
								<xs:complexType>
									<xs:all>
										<xs:element name="Name" type="v1:String128max" />
										<xs:element name="Choice" type="v1:String128max" />
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Terminal">
		<xs:complexType>
			<xs:all>
				<xs:element name="TerminalID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[0-9]{8}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="OfflineApprovalType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="OFFLINE_APPROVAL" />
				<!-- Offline Decliened : Transaction declined from point of sale  -->
				<xs:enumeration value="OFFLINE_DECLINED" />
				<!-- Fallback: Unable to go online, approval -->
				<xs:enumeration value="FALLBACK" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="TransactionOrigin" default="ECI">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ECI" />
				<xs:enumeration value="MOTO" />
				<xs:enumeration value="RETAIL" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="Billing">
		<xs:complexType>
			<xs:all>
				<xs:element name="CustomerID" type="v1:String32max" minOccurs="0" />

				<!-- name section - in case that name is not specified name is created in the application in format "firstname surname"  -->
				<xs:element name="Name" type="v1:String96max" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>Full name of the customer, mandatory for SEPA Direct Debit transactions</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Firstname" type="v1:String48max" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>Customer first name - e.g. John (required for KLARNA, required for SEPA Direct Debit transactions when Name is not provided)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Surname" type="v1:String48max" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>Customer surname - e.g. Doe (required for KLARNA, required for SEPA Direct Debit transactions when Name is not provided)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<!-- end of the name section -->

				<xs:element name="Company" type="v1:String96max" minOccurs="0" />

				<!-- address 1 section - in case that address1 is not filled it is created in the application from input StreetName, HouseNumber and HouseExtension -->
				<xs:element name="Address1" type="v1:String96max" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>first part of the address - e.g. Unit 7 (Ignored for KLARNA payment type)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StreetName" type="v1:String84max" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>required for KLARNA</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="HouseNumber" type="v1:String6max" minOccurs="0">
					<xs:annotation>
						<xs:documentation>required for KLARNA</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="HouseExtension" type="v1:String6max" minOccurs="0">
					<xs:annotation>
						<xs:documentation>required for KLARNA</xs:documentation>
					</xs:annotation>
				</xs:element>
				<!-- end of address1 section -->

				<xs:element name="Address2" type="v1:String96max" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>second part of the address - e.g. Elouera Road 27</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="City" type="v1:String96max" minOccurs="0" />
				<xs:element name="State" type="v1:String96max" minOccurs="0" />
				<xs:element name="Zip" type="v1:String24max" minOccurs="0" />
				<xs:element name="Country" type="v1:String32max" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>For Klarna transactions use ISO 3166 ALPHA-3 code (e.g. DEU, FIN, SWE...) or ISO 3166 ALPHA-2 (e.g. DE, FI, SE...) or ISO 3166 numeric (276, 246, 752)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Phone" type="v1:String32max" minOccurs="0" />
				<xs:element name="Fax" type="v1:String32max" minOccurs="0" />
				<xs:element name="Email" type="v1:String254max" minOccurs="0" />

				<xs:element name="PersonalNumber" type="v1:String20max" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>Customer personal number (required for KLARNA in format: Denmark "ddmm-nnnn", Finland "ppkkvvvvxxxx", Norway "ddmmyynnnnn", Sweden "yymmddnnnn"))</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="BirthDate" type="xs:date" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>required for KLARNA</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Gender" type="v1:GenderType" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>required for KLARNA</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="MobilePhone" type="v1:String32max" minOccurs="0">
					<xs:annotation>
						<xs:documentation>at least one phone is required for KLARNA</xs:documentation>
					</xs:annotation>
				</xs:element>

				<!-- DEPRECATED, this field is not evaluated and will be removed in v2.xsd -->
				<xs:element name="Addrnum" type="v1:String96max" minOccurs="0" />
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="Shipping">
		<xs:complexType>
			<xs:all>
				<!-- DEPRECATED, this field is not evaluated and will be removed in v2.xsd -->
				<xs:element name="Type" type="v1:String20max" minOccurs="0" />

				<xs:element name="Name" type="v1:String96max" minOccurs="0" />
				<xs:element name="Address1" type="v1:String96max" minOccurs="0" />
				<xs:element name="Address2" type="v1:String96max" minOccurs="0" />
				<xs:element name="City" type="v1:String96max" minOccurs="0" />
				<xs:element name="State" type="v1:String96max" minOccurs="0" />
				<xs:element name="Zip" type="v1:String24max" minOccurs="0" />
				<xs:element name="Country" type="v1:String32max" minOccurs="0" />
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="ClientLocale">
		<xs:complexType>
			<xs:all>
				<xs:element name="Language">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<!-- ISO 639-1 -->
							<xs:pattern value="[a-z]{2}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Country" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<!-- ISO 3166 -->
							<xs:pattern value="[A-Z]{2}|" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:element name="MCC6012Details">
		<xs:complexType>
			<xs:all>
				<xs:element name="BirthDate" type="v1:StringDate" />
				<xs:element name="AccountFirst6" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="\d{6}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AccountLast4" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="\d{4}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AccountNumber" type="v1:String50max" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Either (AccountFirst6 and AccountLast4) or AccountNumber have to be filled. If AccountFirst6 and AccountLast4 are both available, the value of AccountNumber is to be ignored.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PostCode" type="v1:String50max" />
				<xs:element name="Surname" type="v1:String100max" />
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="AirlineDetails">
		<xs:sequence>
			<xs:element name="PassengerName" type="v1:String30max" />
			<xs:element name="TicketNumber" type="v1:String20max" />
			<xs:element name="IssuingCarrier" type="v1:String20max" minOccurs="0"/>
			<xs:element name="CarrierName" type="v1:String20max" minOccurs="0"/>
			<xs:element name="TravelAgencyCodeOrIATACode" type="v1:String20max" minOccurs="0"/>
			<xs:element name="TravelAgencyName" type="v1:String30max" minOccurs="0" />
			<xs:element name="AirlinePlanNumber" type="v1:String2max" minOccurs="0" />
			<xs:element name="AirlineInvoiceNumber" type="v1:String6max" minOccurs="0" />
			<xs:element name="ComputerizedReservationSystem" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Start" />
						<xs:enumeration value="TWA" />
						<xs:enumeration value="Delta" />
						<xs:enumeration value="Sabre" />
						<xs:enumeration value="Covia-Apollo" />
						<xs:enumeration value="Dr.Blank" />
						<xs:enumeration value="DER" />
						<xs:enumeration value="TUI" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Restricted" type="xs:boolean" minOccurs="0" />
			<xs:element ref="v1:TravelRoute" minOccurs="0" maxOccurs="4"/>
			<xs:element name="RelatedTicketNumber" type="v1:String20max" minOccurs="0" />
			<xs:element name="AncillaryServiceCategory" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Bundled Service" />
						<xs:enumeration value="Baggage Fee" />
						<xs:enumeration value="Change Fee" />
						<xs:enumeration value="Cargo" />
						<xs:enumeration value="Carbon Offset" />
						<xs:enumeration value="Frequent Flyer" />
						<xs:enumeration value="Gift Card" />
						<xs:enumeration value="Ground Transport" />
						<xs:enumeration value="In-flight Entertainment" />
						<xs:enumeration value="Lounge" />
						<xs:enumeration value="Medical" />
						<xs:enumeration value="Meal / Beverage" />
						<xs:enumeration value="Other" />
						<xs:enumeration value="Passenger Assist Fee" />
						<xs:enumeration value="Pets" />
						<xs:enumeration value="Seat Fees" />
						<xs:enumeration value="Standby" />
						<xs:enumeration value="Service Fee" />
						<xs:enumeration value="Store" />
						<xs:enumeration value="Travel Service" />
						<xs:enumeration value="Unaccompanied Travel" />
						<xs:enumeration value="Upgrades" />
						<xs:enumeration value="Wi-Fi" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TicketPurchase" type="xs:boolean" minOccurs="0" default="true">
				<xs:annotation>
					<xs:documentation>Identify purchase of ancillary goods or services with false value. If the element is not given, the transaction is assumed to be a purchase of airline ticket.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Secure3DResponse">
		<xs:sequence>
			<xs:element name="ResponseCode3dSecure" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Response code of the 3d secure processing (not available for Secure3DVerificationResponse)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="Secure3DVerificationResponse" type="v1:Secure3DVerificationResponse"/>
				<!-- Authentication will be added in the future -->
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SecurePlusResponse">
		<xs:sequence>
			<xs:choice>
				<xs:element name="AuthenticateResponse" type="v1:AuthenticateResponse"/>
				<xs:element name="VerifySmsCodeResponse" type="v1:VerifySmsCodeResponse"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Secure3DRequest">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Secure3DVerificationRequest" type="v1:Secure3DVerificationRequest"/>
				<xs:element name="Secure3DAuthenticationRequest" type="v1:Secure3DAuthenticationRequest"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AuthenticateResponse">
		<xs:sequence>
			<xs:element name="smsSent" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VerifySmsCodeResponse">
		<xs:sequence>
			<xs:element name="responseCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>payer security level resulting from sms code verification</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SecurePlusRequest">
		<xs:sequence>
			<xs:choice>
				<xs:element name="SecurePlusVerifySmsCodeRequest" type="v1:SecurePlusVerifySmsCodeRequest"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Secure3DAuthenticationRequest">
		<xs:sequence>
			<xs:choice>
				<xs:element name="AcsResponse" type="v1:AcsResponse" />
				<xs:element name="IVRAuthenticationRequest" type="v1:IVRAuthenticationRequest" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Secure3DVerificationRequest">
		<xs:sequence>
			<xs:element name="IVRVerificationRequest" type="v1:IVRVerificationRequest" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SecurePlusVerifySmsCodeRequest">
		<xs:sequence>
			<xs:element name="smsCode" type="v1:String32max">
				<xs:annotation>
					<xs:documentation>the SMS code received on the cardholder's mobile phone</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Secure3DVerificationResponse">
		<xs:sequence>
			<xs:element name="VerificationRedirectResponse" type="v1:VerificationRedirectResponse" minOccurs="0" />
			<xs:element name="IVRVerificationResponse" type="v1:IVRVerificationResponse" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VerificationRedirectResponse">
		<xs:sequence>
			<xs:element name="AcsURL" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						target of Secure3d redirection
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaReq" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						PaReq data which has to be send in the "PaReq" attribute to the AcsURL.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TermUrl" type="xs:string">
				<xs:annotation>
					<xs:documentation>Default IPG TermURL which should be used in order to process
						the response from Secure3d in IPG. In case that you would like to parse the
						response by yourself you have to specify the "TermUrl" param in form with
						your custom URL in which you will process the response and call the API with
						the response PaRes and MD (Merchant Data)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MD" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Merchant Data which has to be send in the "MD" attribute to the AcsURL.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="IVRVerificationRequest">
		<xs:sequence>
			<xs:element name="IVRDeviceIdFormat" type="v1:IVRDeviceIdFormat" />
			<xs:element name="IVRDeviceId" type="v1:PositiveNumeric25max" />
			<xs:element name="IVRShoppingChannel" type="v1:IVRShoppingChannel" />
			<xs:element name="IVRAuthenticationChannel" type="v1:IVRAuthenticationChannel"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="IVRVerificationResponse">
		<xs:sequence>
			<xs:element name="IVRAuthData" type="v1:IVRAuthData" minOccurs="1" maxOccurs="99" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AcsResponse">
		<xs:annotation>
			<xs:documentation>
				use this element to populate the response data ACS redirect to the payment gateway
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MD" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Merchant Data from Acs redirection POST attribute ("MD" attribute).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaRes" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						PaRes data from Acs redirection POST attribute ("PaRes" attribute).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="IVRAuthenticationRequest">
		<xs:sequence>
			<xs:element name="IVRAuthUserData" type="v1:IVRAuthUserData" minOccurs="1" maxOccurs="99" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="IVRAuthData">
		<xs:sequence>
			<xs:element name="IVRAuthDataName" type="v1:IVRAuthDataName" />
			<xs:element name="IVRAuthDataMaxLen" type="xs:int" minOccurs="0" />
			<xs:element name="IVRAuthDataType" type="v1:IVRAuthDataType" />
			<xs:element name="IVRAuthDataLabel" type="xs:string" />
			<xs:element name="IVRAuthDataPrompt" type="xs:string" />
			<xs:element name="IVRAuthDataEncrypted" type="xs:boolean" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="IVRAuthUserData">
		<xs:sequence>
			<xs:element name="IVRUserDataName" type="xs:string" />
			<xs:element name="IVRUserDataValue" type="xs:string" />
			<xs:element name="IVRUserDataStatus" type="v1:IVRUserDataStatus" />
			<xs:element name="IVRUserDataEncrypted" type="xs:boolean" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="TravelRoute">
		<xs:complexType>
			<xs:all>
				<xs:element name="DepartureDate" type="v1:StringDate" />
				<xs:element name="Origin" type="v1:String3max" />
				<xs:element name="Destination" type="v1:String3max" />
				<xs:element name="CarrierCode" type="v1:String2max" />
				<xs:element name="ServiceClass" type="v1:String1max" />
				<xs:element name="StopoverType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="DIRECT" />
							<xs:enumeration value="STOPOVER" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FareBasisCode" type="v1:String2max" minOccurs="0" />
				<xs:element name="DepartureTax" type="v1:AmountValueType" />
				<xs:element name="FlightNumber" type="v1:String10max" minOccurs="0" />
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="MACType">
		<xs:sequence>
			<xs:element name="Value">
				<xs:simpleType>
					<xs:restriction base="xs:hexBinary">
						<xs:maxLength value="8" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="KSN">
				<xs:simpleType>
					<xs:restriction base="xs:hexBinary">
						<xs:length value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- reference types   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	<xs:element name="InquiryRateId" type="xs:long" />

	<xs:complexType name="InquiryRateReference">
		<xs:sequence>
			<xs:element ref="v1:InquiryRateId" minOccurs="1" maxOccurs="1" />
			<xs:element name="DccApplied" type="xs:boolean" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SplitShipment">
		<xs:sequence>
			<xs:element name="SequenceCount" minOccurs="0">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>The count of the first postAuth will overwrite the value came from preAuth. If the value is not given, it is considered as 99 in the first postAuth. The value given in the 2nd or further postAuth is to be ignored.</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="2" />
						<xs:maxInclusive value="99" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FinalShipment" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Wallet">
		<xs:sequence>
			<xs:element name="WalletType" type="v1:WalletType" />
			<xs:element name="WalletID" type="v1:String3" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- simple types - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	<xs:simpleType name="CardEnrolledType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N" />
			<xs:enumeration value="U" />
			<xs:enumeration value="Y" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String4000max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4000" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String1024max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1024" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String254max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="254" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String128max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String100max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String96max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="96" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String84max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="84" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String64max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String50max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String48max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="48" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String40max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String32max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String30max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String24max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="24" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String20max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String15max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String12max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String10max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String6max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="String1max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="String2max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="String3max">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="String3">
		<xs:restriction base="xs:string">
			<xs:length value="3" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="StringDate">
		<xs:restriction base="xs:string">
			<!-- YYYYMMDD -->
			<xs:pattern value="[0-9]{8}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="StringDateTime">
		<xs:restriction base="xs:string">
			<!-- YYYYMMDDhhmmss -->
			<xs:pattern value="[0-9]{14}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CountryType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}|[A-Z]{3}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TDateType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{10}|" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CurrencyType">
		<xs:restriction base="xs:string">
			<!-- http://de.wikipedia.org/wiki/ISO_4217 -->
			<!-- http://en.wikipedia.org/wiki/ISO_4217 -->
			<xs:pattern value="[0-9]{3}|[A-Z]{3}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AmountValueType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3" />
			<xs:totalDigits value="12" />
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ItemAmountValueType">
		<xs:annotation>
			<xs:documentation>amount value type for the items - allows negative amounts</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3" />
			<xs:totalDigits value="12" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BINType">
		<xs:restriction base="xs:int">
			<xs:totalDigits value="6" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="GenderType">
		<xs:annotation>
			<xs:documentation>gender
				UNKNOWN ... unknown
				MALE ... male
				FEMALE ... femal
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="UNKNOWN" />
			<xs:enumeration value="MALE" />
			<xs:enumeration value="FEMALE" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="SubsequentTransactionType">
		<xs:annotation>
			<xs:documentation>contains possible transaction types for subsequent transactions</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="RETURN" />
			<xs:enumeration value="VOID" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PositiveNumeric4max">
		<xs:restriction base="xs:int">
			<xs:pattern value="\d{1,4}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PositiveNumeric14max">
		<xs:restriction base="xs:long">
			<xs:pattern value="\d{1,14}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PositiveNumeric25max">
		<xs:restriction base="xs:long">
			<xs:pattern value="\d{1,25}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CardAccountType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="saving" />
			<xs:enumeration value="checking" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CardFunctionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="credit" />
			<xs:enumeration value="debit" />
			<xs:enumeration value="voucher" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IssuerAuthorizationResponseCode-8A">
		<xs:restriction base="xs:string">
			<xs:length value="2" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Rate">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2" />
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="99.99" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="RecurringType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FIRST" />
			<xs:enumeration value="REPEAT" />
			<xs:enumeration value="STANDIN" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="UnscheduledCredentialOnFileType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FIRST" />
			<xs:enumeration value="CARDHOLDER_INITIATED" />
			<xs:enumeration value="MERCHANT_INITIATED" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="WalletType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ANDROID_PAY" />
			<xs:enumeration value="APPLE_PAY" />
			<xs:enumeration value="MASTERPASS" />
			<xs:enumeration value="SAMSUNG_PAY" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TraceNumber-DF8260">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="999999" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TokenType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ONETIME" />
			<xs:enumeration value="MULTIPAY"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="AssignToken" >
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>

	<xs:simpleType name="IVRDeviceIdFormat">
		<xs:restriction base="xs:string">
			<xs:enumeration value="I">
				<xs:annotation>
					<xs:documentation>International format</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation>Domestic format</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IVRUserDataStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y">
				<xs:annotation>
					<xs:documentation>Entered</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation>Not received</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="T">
				<xs:annotation>
					<xs:documentation>Timed out</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="U">
				<xs:annotation>
					<xs:documentation>Unknown</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IVRAuthDataName">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SP">
				<xs:annotation>
					<xs:documentation>Static password</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTP1">
				<xs:annotation>
					<xs:documentation>One Time Password  Issued to
						Cardholder Prior to Entering into
						Transaction</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTP2">
				<xs:annotation>
					<xs:documentation>One Time Password  Issued to
						Cardholder During the Transaction</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TTP">
				<xs:annotation>
					<xs:documentation>Authentication Performed by a
						Trusted Third Party</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ICB">
				<xs:annotation>
					<xs:documentation>Issuer Call-Back</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="other">
				<xs:annotation>
					<xs:documentation>Other issuer-specific Authentication
						Method (e.g., NETBANKINGPIN)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IVRAuthDataType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation>Text</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation>Numeric Only</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IVRShoppingChannel">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IVR">
				<xs:annotation>
					<xs:documentation>Via Interactive Voice Response</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CLIENT">
				<xs:annotation>
					<xs:documentation>Via J2ME (Java2 Micro Edition) or STK application</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TTP">
				<xs:annotation>
					<xs:documentation>Via Trusted Third Party</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SMS">
				<xs:annotation>
					<xs:documentation>Via Short Messaging Service (SMS)
						OR via Unstructured Supplementary
						Service Data (USSD)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WAP">
				<xs:annotation>
					<xs:documentation>Via Wireless Application Protocol</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="native-app">
				<xs:annotation>
					<xs:documentation>Other native app</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IVRAuthenticationChannel">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SMS">
				<xs:annotation>
					<xs:documentation>Via Short Messaging Service</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IVR">
				<xs:annotation>
					<xs:documentation>Via Interactive Voice Response</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="USSD">
				<xs:annotation>
					<xs:documentation>Via Unstructured Supplementary Service Data</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WAP">
				<xs:annotation>
					<xs:documentation>Via Wireless Application Protocol</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IbanType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}[0-9]{2}[A-Z0-9]{4,30}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BankCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{8})|([A-Z]{4}DE([A-Z0-9][A-NP-Z0-9])(XXX|[A-WY-Z0-9][A-Z0-9]{2})?)" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AccountNumberType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{1,10})|(DE[0-9]{2}[0-9]{8}[0-9]{10})" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BICType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}(XXX|[A-WY-Z0-9][A-Z0-9]{2})?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MandateReferenceType">
			<xs:restriction base="xs:string">
				<xs:pattern value="[A-Za-z0-9+?/\\:().,'-]{1,35}" />
			</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MandateType">
			<xs:restriction base="xs:string">
				<xs:enumeration value="SINGLE" />
				<xs:enumeration value="RECURRING_COLLECTION" />
				<xs:enumeration value="FIRST_COLLECTION" />
				<xs:enumeration value="FINAL_COLLECTION" />
			</xs:restriction>
	</xs:simpleType>
</xs:schema>
